@model PortalEDU.Models.ViewModels.AlumnoVM;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Create</h1>
<br />
<br />
<br />
<br />
<h3 class="text-center">Crear un nuevo Alumno</h3>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row px-2 mx-2 border">
        <div asp-validation-summary=" ModelOnly" class="text-danger"></div>
        <input type="hidden" value="@DateTime.Now" asp-for="alumno.update" />
        <div class="col-10 offset-1 mt-4">

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="alumno.CodigoCE"> </label>
                </div>
                <div class="col-8">
                    <input asp-for="alumno.CodigoCE" class="form-control" />
                    <span asp-validation-for="alumno.CodigoCE" class="text-danger"> </span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="alumno.Carnet"> </label>
                </div>
                <div class="col-8">
                    <input asp-for="alumno.Carnet" class="form-control" />
                    <span asp-validation-for="alumno.Carnet" class="text-danger"> </span>
                </div>
            </div>



            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="alumno.Nombre"> </label>
                </div>
                <div class="col-8">
                    <input asp-for="alumno.Nombre" class="form-control" />
                    <span asp-validation-for="alumno.Nombre" class="text-danger"> </span>
                </div>
            </div>



            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="alumno.Apellido"> </label>
                </div>
                <div class="col-8">
                    <input asp-for="alumno.Apellido" class="form-control" />
                    <span asp-validation-for="alumno.Apellido" class="text-danger"> </span>
                </div>
            </div>



            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="alumno.FechaNacimiento"> </label>
                </div>
                <div class="col-8">
                    <input asp-for="alumno.FechaNacimiento" class="form-control" />
                    <span asp-validation-for="alumno.FechaNacimiento" class="text-danger"> </span>
                </div>
            </div>




            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="alumno.Direccion"> </label>
                </div>
                <div class="col-8">
                    <input asp-for="alumno.Direccion" class="form-control" />
                    <span asp-validation-for="alumno.Direccion" class="text-danger"> </span>
                </div>
            </div>





            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="alumno.Sexo" class="control-lable"></label>
                </div>
                <div class="col-8">
                    <select asp-for="alumno.Sexo" class="custom-select">
                        <option value="">-Sexo-</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Masculino">Masculino</option>
                    </select>
                    <span asp-validation-for="alumno.Sexo" class="text-danger"> </span>
                </div>
            </div>




            @*// Aqui se despliega la lista de categoria, la relacion de 1 a muchos*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="alumno.IdCentroEducativo"> </label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.alumno.IdCentroEducativo, Model.ListaCentroEducativo, "-seleccione centro educativo asociado-", new
                    { @class = "form-control" })
                </div>
                <span asp-validation-for="alumno.IdCentroEducativo" class="text-danger"> </span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="alumno.IdResponsable"> </label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.alumno.IdResponsable, Model.ListaResponsable, "-seleccione persona responsable-", new
                    { @class = "form-control" })
                </div>
                <span asp-validation-for="alumno.IdResponsable" class="text-danger"> </span>
            </div>


            <div class="form-group row">
                <div class="col-4">
                    <label> Correo Sesion</label>
                </div>
                <div class="col-8">
                    <select asp-for="alumno.IdUsuario"
                            class="form-control"
                            asp-items="@(new SelectList(Model.ApplicationUsers,"Id", "UserName",Model.IdentityRoleVM))">
                        <option value="">-selecciona ID Sesion-</option>
                    </select>

                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="alumno.Foto"> </label>
                </div>
                <div class="col-8 card">
                    <img src="" width="100" height="100" id="imgFoto" class="align-self-center" />
                    <input type="file" asp-for="alumno.Foto" name="archivos" id="SubidaFotoAlumno" class="form-control-file card bs-popover-top" onchange="seleccionarImagen()" accept="image/*" />
                </div>
            </div>


            <div class="form-group row">
                <div class="col-8 offset-4">
                    <partial name="_VistaCrearVolver" />
                </div>


            </div>

        </div>
    </div>
</form>

@section Scripts{
    @*<script src="https://cdn.tiny.cloud/1/i2fj0cj70ajhbmkrqqx8su1fo2at2l2ssky2cwkigjkpr7ue/tinymce/5/tinymce.min.js"></script>
        <script>
            tinymce.init({
                selector: 'textarea',
                plugins: 'a11ychecker advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
                toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter pageembed permanentpen table',
                toolbar_mode: 'floating',
                tinycomments_mode: 'embedded',
                tinycomments_author: 'Portal Educativo',
            });
        </script>*@

    <script>

        function seleccionarImagen() {
            var archivo = document.getElementById("SubidaFotoAlumno").files[0];
            var reader = new FileReader();
            reader.onloadend = function () {
                document.getElementById("imgFoto").src = reader.result;
            }
            reader.readAsDataURL(archivo);
        }

    </script>



}
