Index Original Portal

@model PortalEDU.Models.ViewModels.AlumnoVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />

@*Cuando no hay registros en las celdas*@
<style>
    table td:empty::before {
        content: "Sin registros";
        color: brown;
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Lista de Alumnos</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"> </i> Crear nuevo alumno</a>
        </div>
    </div>

    <br />
    <br />
    <table id="tblAlumnos" class="table table-striped table-bordered table-hover" style=" width:100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Carnet</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Nacimiento</th>
                <th>Direccion</th>
                <th>Sexo</th>
                <th>Centro Educativo</th>
                <th>Responsable</th>
                <th>Foto</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>



@section Scripts{
    <script src="~/js/alumno.js"></script>
}
