@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">

</style>
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary"> Lista de ciclos </h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> Crear Nuevo Año Escolar</a>
        </div>
    </div>

    <br />
    <br />
    <table id="tblCiclos" class=" table table-striped table-bordered nowrap table-hover"style="width:100%" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Año Escolar</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>



@section Scripts{
    <script src="~/js/ciclo.js"> </script>

}
