@model PortalEDU.Models.ViewModels.CalificacionesVM
@using PortalEDU.Utilidades
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear</h1>

<br />
<br />
<h3 class="text-center">Editar calificaciones</h3>


<form asp-action="Edit" method="post" enctype="multipart/form-data">

    <div class="row mx-5 mx-sm-5 border">
        <div asp-validation-summary=" ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="calificaciones.Id" />
        <input type="hidden" value="@DateTime.Now" asp-for="calificaciones.Update" />
        <div class="col-5 offset-4 mt-6">
            <br />

            <div class="form-group row">
                <div class="col-12">
                    <label asp-for="alumno.Carnet" class="control-label"> Selesccione carnet de alumno</label>
                </div>
                <div class="col-8">
                    <select asp-for="calificaciones.IdAlumno"
                            class="form-control"
                            asp-items="@(new SelectList(Model.alumnos,"Id", "Carnet"))">
                    </select>

                </div>
            </div>




            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="calificaciones.PrimerTrimestre"> </label>
                </div>
                <div class="col-4">
                    <input asp-for="calificaciones.PrimerTrimestre" class="form-control" />
                    <span asp-validation-for="calificaciones.PrimerTrimestre" class="text-danger"> </span>
                </div>
            </div>




            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="calificaciones.SegundoTrimestre"> </label>
                </div>
                <div class="col-4">
                    <input asp-for="calificaciones.SegundoTrimestre" class="form-control" />
                    <span asp-validation-for="calificaciones.SegundoTrimestre" class="text-danger"> </span>
                </div>
            </div>



            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="calificaciones.TercerTrimestre"> </label>
                </div>
                <div class="col-4">
                    <input asp-for="calificaciones.TercerTrimestre" class="form-control" />
                    <span asp-validation-for="calificaciones.TercerTrimestre" class="text-danger"> </span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="calificaciones.CuartoTrimestre"> </label>
                </div>
                <div class="col-4">
                    <input asp-for="calificaciones.CuartoTrimestre" class="form-control" />
                    <span asp-validation-for="calificaciones.CuartoTrimestre" class="text-danger"> </span>
                </div>
            </div>



            @*<div class="form-group row">
                <div class="col-4">
                    <label asp-for="calificaciones.Prom"> </label>
                </div>
                <div class="col-8">
                    <input asp-for="calificaciones.Prom" class="form-control" disabled/>
                    <span asp-validation-for="calificaciones.Prom" class="text-danger"> </span>
                </div>
            </div>*@



            <div class="form-group row">
                <div class="col-12">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control" asp-route-id="@Model.calificaciones.Id}">Actualizar</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success form-control">Volver a la vista</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

