@model PortalEDU.Models.ViewModels.TareaDocenteVM
@{
    ViewData["Title"] = "Create";
}
<br />
<br />
<br />
<br />
<br />
<h3 class="text-center">Crear una nueva tarea</h3>
<form asp-action="Create" method="post" enctype="multipart/form-data" id="upload_form">
    <div class="row px-2 mx-2 border">
        <div asp-validation-summary=" ModelOnly" class="text-danger"></div>
        <input type="hidden" value="@DateTime.Now" asp-for="TareaDocente.Update" />
        <div class="col-10 offset-1 mt-4">



            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="TareaDocente.Nombre"> Titulo de la tarea </label>
                </div>
                <div class="col-8">
                    <input asp-for="TareaDocente.Nombre" class="form-control" />
                    <span asp-validation-for="TareaDocente.Nombre" class="text-danger"> </span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="TareaDocente.Puntuacion"> Puntuacion asignada </label>
                </div>
                <div class="col-8">
                    <input asp-for="TareaDocente.Puntuacion" class="form-control" />
                    <span asp-validation-for="TareaDocente.Puntuacion" class="text-danger"> </span>
                </div>
            </div>



            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="TareaDocente.Comentario"> Comentario rapido</label>
                </div>
                <div class="col-8">
                    <input asp-for="TareaDocente.Comentario" class="form-control" />
                    <span asp-validation-for="TareaDocente.Comentario" class="text-danger"> </span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="TareaDocente.Descripcion"> Instrucciones para el alumno </label>
                </div>
                <div class="col-8">
                    <textarea asp-for="TareaDocente.Descripcion" class="form-control"></textarea>
                    <span asp-validation-for="TareaDocente.Descripcion" class="text-danger"> </span>
                </div>
            </div>




            <div class="form-group row">
                <div class="col-4">
                    <label>Fecha de creacion </label>
                </div>
                <div class="col-8">
                    <input type="datetime-local" asp-for="TareaDocente.FechaCreacion" class="form-control" />
                    <span asp-validation-for="TareaDocente.FechaCreacion" class="text-danger"> </span>
                </div>
            </div>



            <div class="form-group row">
                <div class="col-4">
                    <label> Fecha de finalizacion</label>
                </div>
                <div class="col-8">
                    <input type="datetime-local" asp-for="TareaDocente.FechaFinalizacion" class="form-control" />
                    <span asp-validation-for="TareaDocente.FechaFinalizacion" class="text-danger"> </span>
                </div>
            </div>



            <div class="form-group row">
                <div class="col-4">
                    <label> Selesccione docente responsable</label>
                </div>
                <div class="col-8">
                    <select asp-for="TareaDocente.IdDocente"
                            class="form-control"
                            asp-items="@(new SelectList(Model.DocenteList,"Id", "Nombre"))">
                        <option value="">-selecciona un docente-</option>
                    </select>

                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label> Seleccione el curso</label>
                </div>
                <div class="col-8">
                    <select asp-for="TareaDocente.IdCurso"
                            class="form-control"
                            asp-items="@(new SelectList(Model.CursoList,"Id", "Nombre"))">
                        <option value="">-selecciona un curso-</option>
                    </select>

                </div>
            </div>


            <div class="form-group row">
                <div class="col-4">
                    <label>Seleccione documento de apoyo </label>
                </div>
                <div class="col-8">
                    <input id="input_doc" onchange="seleccionarImagen()" type="file" name="archivos" accept="application/pdf,application/vnd.ms-excel" />
                    <div id="element"></div>
                    <span asp-validation-for="TareaDocente.Documento" class="text-danger"> </span>
                </div>
            </div>



            <div class="form-group row">
                <div class="col-8 offset-4">

                    <div class="row">
                        <div class="col">
                            <button type="submit" onclick="return validateInput()" class="btn btn-success form-control">Crear</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-dark form-control">Regresar a lista</a>
                        </div>
                    </div>

                </div>
            </div>









        </div>
    </div>
</form>

@section Scripts{

    <script>
        $('#input_doc').change(function (event) {
            var file = URL.createObjectURL(event.target.files[0]);
            $('#element').append('<a href="' + file + '" target="_blank">' + event.target.files[0].name + '</a><br>');
        });
    </script>


    <script>

        function seleccionarImagen() {
            var archivo = document.getElementById("SubidaFotoAlumno").files[0];
            var reader = new FileReader();
            reader.onloadend = function () {
                document.getElementById("imgFoto").src = reader.result;
            }
            reader.readAsDataURL(archivo);
        };



        function validateInput() {
            if (document.getElementById("input_doc").value == "") {
                swal("Error", "Por favor complete todos los campos", "error");
                return false;
            }
            return true;
        };





    </script>














    <partial name="_ValidationScriptsPartial" />


}



















