@model PortalEDU.Models.ViewModels.CentroEducativoVM
@using PortalEDU.Models
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="text-center">Editar</h3>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="centroEducativo.Id" />
    <input type="hidden" value="@DateTime.Now" asp-for="centroEducativo.update" />
    

    <div class="row px-2 mx-2 border">
        <div asp-validation-summary=" ModelOnly" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="centroEducativo.Nombre"> </label>
                </div>
                <div class="col-8">
                    <input asp-for="centroEducativo.Nombre" class="form-control" />
                    <span asp-validation-for="centroEducativo.Nombre" class="text-danger"> </span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="centroEducativo.Direccion"> </label>
                </div>
                <div class="col-8">
                    <input asp-for="centroEducativo.Direccion" class="form-control" />
                    <span asp-validation-for="centroEducativo.Direccion" class="text-danger"> </span>
                </div>
            </div>




            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="centroEducativo.Correo"> </label>
                </div>
                <div class="col-8">
                    <input asp-for="centroEducativo.Correo" class="form-control" />
                    <span asp-validation-for="centroEducativo.Correo" class="text-danger"> </span>
                </div>
            </div>





            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="centroEducativo.Telefono"> </label>
                </div>
                <div class="col-8">
                    <input asp-for="centroEducativo.Telefono" class="form-control" />
                    <span asp-validation-for="centroEducativo.Telefono" class="text-danger"> </span>
                </div>
            </div>




            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="centroEducativo.Director"> </label>
                </div>
                <div class="col-8">
                    <input asp-for="centroEducativo.Director" class="form-control" />
                    <span asp-validation-for="centroEducativo.Director" class="text-danger"> </span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="centroEducativo.Tipo" class="control-lable"></label>
                </div>
                <div class="col-8">
                    <select asp-for="centroEducativo.Tipo" class="custom-select">
                        <option value="">-Tipo de institucion-</option>
                        <option value="Publico">Publico</option>
                        <option value="Privado">Privado</option>
                    </select>
                    <span asp-validation-for="centroEducativo.Tipo" class="text-danger"> </span>
                </div>
            </div>




            @*// Aqui se despliega la lista de categoria, la relacion de 1 a muchos*@

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="centroEducativo.IdAnioAcademico"> </label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.centroEducativo.IdAnioAcademico, Model.ListaCiclo, "-seleccione una ciclo academico-", new
                    { @class = "form-control" })
                </div>
                <span asp-validation-for="centroEducativo.IdAnioAcademico" class="text-danger"> </span>
            </div>



            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control" asp-route-id="@Model.centroEducativo.Id}">Actualizar</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success form-control">Volver a la vista</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>