<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" asp-area="Anonimo" asp-controller="Home" asp-action="Index">Portal Educativo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand" asp-area="Anonimo" asp-controller="Home" asp-action="Index">

                    <i class="fas fa-home" style="color:white"></i>
                    @*<span class="sr-only">(current)</span>*@
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="CentrosEducativos" asp-action="Index">Centro Educativo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Ciclos" asp-action="Index">Ciclo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Aulas" asp-action="Index">Aula</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Cursos" asp-action="Index">Cursos</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administracion de Usuarios</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Alumnos" asp-action="Index">Alumno</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Docentes" asp-action="Index">Docente</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Responsables" asp-action="Index">Responsable</a>
                    @*<div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>*@
                </div>
            </li>
        </ul>


        @*<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>*@


        <partial name="_LoginPartial" />
    </div>
</nav>