@model PortalEDU.Models.Curso

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />

<h3 class="text-center">Crear un curso</h3>
<hr />
<form asp-action="Create" method="post">
    <div class="row px-2 mx-2 border">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" value="@DateTime.Now" asp-for="Update" />
        <br />
        <div class="col-10 offset-1 mt-4">

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Nombre" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Descripcion" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="FechaInicio" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input type="datetime-local" asp-for="FechaInicio" class="form-control" />
                    <span asp-validation-for="FechaInicio" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="FechaFinal" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input type="datetime-local" asp-for="FechaFinal" class="form-control" />
                    <span asp-validation-for="FechaFinal" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group form-check row">
                <div class="col-4">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                    </label>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-4">
                    <label>Aula</label>
                </div>
                <div class="col-8">
                    <select asp-for="IdAula" class="form-control" asp-items="ViewBag.IdAula"></select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-8 offset-4">
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>

        </div>
    </div>
</form>

