@model PortalEDU.Models.ViewModels.HomeVM
 


    @{ ViewData["Title"] = "Home Page"; }
    <br />
    <partial name="_WelcomePartial" />

    <header class="d-flex flex-wrap justify-content-between align-items-center">
        <div class="text-center">
            <h2>Salones de clase</h2>
        </div>
        
        @*<partial name="_SearchPartial" for="Search" />*@
    </header>

    <partial name="_AulaCardPartial" model="@Model" />


