@model PortalEDU.Models.ViewModels.HomeVM



@{ ViewData["Title"] = "Home Page"; }
<br />
<partial name="_WelcomePartial" />

<header class="d-flex flex-wrap justify-content-between align-items-center">
    <div class="text-center">
        <h2>Salones de clase</h2>
    </div>

    @*<partial name="_SearchPartial" for="Search" />*@
</header>
@if (User.Identity.IsAuthenticated)
{
    <partial name="_AulaCardPartial" model="@Model" />  }
else { 
<p>Para ver las Aulas debe de estar autenticado</p>
}



